<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>controle</title>
</head>
<body>
{% if erro %}
    <span style="color:blue">{{erro}}</span><br>
{% endif %}
<!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="/inserir_anuncio">Inserir Anúncio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/reservas">reservas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Usuários
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/incluir_usuario">Incluir</a>
              <a class="dropdown-item" href="/excluir_usuario">Excluir</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
<!-- anuncios -->

{% for carro in imagens %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="/static/images{{ carro[3] }}" alt="Erro nesta imagem">
              <div class="card-body">
                <h4 class="card-title"><b>estado:</b> {{ carro[2] }}</h4>
                <p class="card-text"><b>preço:</b> {{ carro[0] }}</p>
              </div>
              <div class="card-footer">
                <a href="/reservar/{{ carro[0] }}" class="btn btn-primary"><b><i>Detalhes</i></b></a>
              </div>
            </div>
          </div>

                  <a href="/" class="btn btn-primary">alterar</a>
                  <a href="/excluir_anuncio/{{carro[1]}}" class="btn btn-primary">excluir</a>
                  <a href="/" class="btn btn-primary">Tornar Vip</a>
           </div>
       </div>
 </div>

    {% endfor %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>