<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

   <form action="/anuncio_inserido" method=post enctype=multipart/form-data>
       <div class="input-group mb-3">
             <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Placa</span>
             </div>
           <input type="text" class="form-control" name="placa" placeholder="Placa" aria-label="Placa" aria-describedby="basic-addon1">
       </div>
        <div class="input-group mb-3">
             <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Modelo</span>
             </div>
           <input type="text" class="form-control" name="modelo" placeholder="Modelo" aria-label="Modelo" aria-describedby="basic-addon1">
       </div>
        <div class="input-group mb-3">
             <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">marca</span>
             </div>
           <input type="text" class="form-control" name="marca" placeholder="Marca" aria-label="Marca" aria-describedby="basic-addon1">
       </div>
        <div class="input-group mb-3">
             <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Valor</span>
             </div>
           <input type="text" class="form-control" name="valor" placeholder="Valor" aria-label="Valor" aria-describedby="basic-addon1">
       </div>
        <div class="input-group mb-3">
             <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Vip</span>
             </div>
           <input type="text" class="form-control" name="vip" placeholder="Vip" aria-label="Vip" aria-describedby="basic-addon1">
       </div>
       <div class="form-group">
        <label for="exampleFormControlFile1">Exemplo de input de arquivo</label>
        <input type="file" name=file class="form-control-file" id="exampleFormControlFile1">
        <input type=submit value=Upload>
       </div>
   </form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>